<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Template 7</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="resume">
        <div class="resumeBody">
            <div class="resumeHeader">
                <div class="resumeHeaderLeft">
                    <div id="name"></div>
                </div>

                <div class="resumeHeaderRight">
                    <div class="logo">
                        <i class="fa-solid fa-phone"></i>
                        <div id="phone"></div>
                    </div>
                    <div class="logo">
                        <i class="fa-solid fa-envelope"></i>
                        <div id="email"></div>
                    </div>
                    <div class="logo">
                        <i class="fa-solid fa-location"></i>
                        <div class="address">
                            <div id="city"></div>
                            <div id="state"></div>
                            <div id="country"></div>
                            <div id="pincode"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="maindiv1">
                <div class="carrerObjective">
                    <div class="carrerObjectiveHeading">Summary</div>
                    <div class="carrerObjectiveContent" id="carrerObjectiveContent">
                    </div>
                </div>

                <div class="educationalDetails">
                    <div class="educationalDetailsHeading">Education</div>
                    <div class="education">
                        <div class="educationLeft">
                            <div id="degree1"></div>
                            <div id="institute1" class="institute"></div>
                            <div id="location1"></div>
                        </div>
                        <div class="educationRight">
                            <div id="cgpa1"></div>
                            <div class="eduDuration">
                                <div id="startYear1"></div>
                                <div id="endYear1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="maindiv2">
                <div class="skills">
                    <div class="skillsHeading">Skills</div>
                    <div class="skillsContent">
                        <div id="skill1"></div>
                        <div id="skill2"></div>
                        <div id="skill3"></div>
                        <div id="skill4"></div>
                        <div id="skill5"></div>
                        <div id="skill6"></div>
                    </div>
                </div>
                <div class="profileLinks">
                    <div class="profileLinksHeading">Profiles</div>
                    <div class="profileLinksContent">
                        <div><a id="profile1">Linkedin</a></div>
                        <div><a id="profile2">GitHub</a></div>
                        <div><a id="profile3">HackerRank</a></div>
                        <div><a id="profile4">CodeChef</a></div>
                        <div><a id="profile5">LeetCode</a></div>
                        <div><a id="profile6">GeeksforGeeks</a></div>
                    </div>
                </div>
            </div>
            

           

            <div class="internshipDetails">
                <div class="internshipHeading">Internships</div>
                <div class="internship">
                    <div class="internshipLeft">
                        <div class="internshipDuration">
                            <div id="internshipStartYear1"></div>
                            <div id="internshipEndYear1"></div>
                        </div>
                    </div>
                    <div class="internshipRight">
                        <div id="internshipName1" class="internshipName"></div>
                        <div id="internshipRole1"></div>
                        <div id="internshipDesc1"></div>
                    </div>
                </div>
            </div>

            <div class="projectDetails">
                <div class="projectHeading">Projects</div>
                <div class="project">
                    <div class="projectLeft">
                        <div class="projectDuration">
                            <div id="projectStartYear1"></div>
                            <div id="projectEndYear1"></div>
                        </div>
                    </div>
                    <div class="projectRight">
                        <div id="projectName1" class="projectName"></div>
                        <div id="projectRole1"></div>
                        <div id="projectDesc1"></div>
                    </div>
                </div>
            </div>

            

            <div class="achievements">
                <div class="achievementsHeading">Achievements/Badges/Hackathons</div>
                <div class="achievementsContent">
                    <div id="achievement1"></div>
                    <div id="achievement2"></div>
                    <div id="achievement3"></div>
                    <div id="badge1"></div>
                    <div id="badge2"></div>
                    <div id="badge3"></div>
                    <div id="hackathon1"></div>
                    <div id="hackathon2"></div>
                    <div id="hackathon3"></div>
                </div>
            </div>


        </div>
    </div>

    <div class="buttons">
        <button class="choose" onclick="choose()">Choose Another Template</button>
        <button class="download" id="download" style="margin: 20px;">Download RESUME</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script src="./script.js"></script>
</body>

</html>